# ----- Python -----
__pycache__/
*.py[cod]
*.egg-info/
*.log
.env
venv/
*.sqlite3

# ----- FastAPI statics & cache -----
*.db
*.cache

# ----- React (frontend) -----
node_modules/
build/
dist/
.npm/
.yarn/
*.lock

# ----- VS Code -----
.vscode/

# ----- OS specifika -----
.DS_Store  # macOS
Thumbs.db  # Windows

# ----- Backup & temporary -----
*.bak
*.tmp
*.swp
